// fonts
$font-main: "New Amsterdam", sans-serif;
$font-secondary: "Amarna", sans-serif;

// colors
$color-bg: #f3f4f5;
$color-primary: #e0ff78;
$color-primary-dark: #1c6a47;
$color-secondary: #fa6108;
$color-secondary-dark: #df5200;
$color-secondary-light: #faaa78;
