@use '../core/variables' as vars;

.logo{
  width: 250px;
  
}
h1{
  font-family: vars.$font-main;
  font-weight: 400;
  font-size: 3rem;
}
h3 {
  font-family: vars.$font-secondary;
  font-size: 1.5rem;
 
}
.mockups {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
.page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  .page__main--text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}
  .button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: vars.$color-primary;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: vars.$font-secondary;
    width: 240px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 40px;
    cursor: pointer;
    &:hover {
      background-color: vars.$color-primary-dark;
      color: white;
    }
    }
  
  .hover {
    :hover {
      background-color: vars.$color-secondary-light;
      color: white;
      border-radius: 40px;
  }}
  
  
 