@use '../core/variables' as vars;

.logo{
  width: 600px;
  
}
h1{
  font-family: vars.$font-main;
  font-weight: 400;
  font-size: 3.5rem;
  color: vars.$color-secondary;
  
}
h3 {
  font-family: vars.$font-secondary;
  font-size: 1.5rem;
 
}

.page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
 
  .page__main--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    @media screen and (max-width: 736px) {
    margin-left: 5rem;
    margin-right: 5rem;
    }
  }  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    justify-content: center;
    gap: 3rem;
     /* Tablet */
    @media screen and (max-width: 736px) {
    gap: 0rem;
    width: 70%;

    }
    
   
  }
 
}

.mockups {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}


  .button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: vars.$color-primary;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: vars.$font-secondary;
    width: 240px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 40px;
    cursor: pointer;
    &:hover {
      background-color: vars.$color-secondary-dark;
      color: white;
      width: 260px;
      height: 70px;
    }
    }
  
  
  
  
 