.form_header {
    display: flex;
    flex-direction: row;

}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}


.form_container-sign-field {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.campo {
    border-color: orange;
    border-radius: 3rem;
    border-style: solid;
    border-width: 0.3rem;
    padding: 0.3rem;
}

#form_container-result {
    list-style-type: none;
    background-color: orange;
    height: 10rem;
    width: 30rem;
    height: 10rem;
}

#form_container-result h3 {
    color: black;
    text-align: center;
    
}
#form_container-result li {
    color: black;
    text-align: center;
}

//MEDIA QUERIES


@media (min-width: 768px) {

    .form {
        margin-top: 10rem;
        margin-left: 4rem;;
    }

    .form_container {
        flex-direction: row;
    }

    .form_container-sign {
        width: 768px;
    }

    .form_container-sign-field {
        flex-direction: row;
    }

    #form_container-result {
        height: 10rem;
        width: 30rem;
        height: auto;
        margin: 2rem;
    }
}

@media (min-width: 1024px) {
    .form {
        margin-top: 10rem;
        margin-left: 4rem;
    }

    .form_container {
        flex-direction: row;
        gap: 1rem
        
    }

    .form_container-sign {
        width: 768px;
    }

    .form_container-sign-field {
        flex-direction: row;
        padding: 1rem;
        
    }

    #form_container-result {
        height: 10rem;
        width: 30rem;
        height: auto;
        margin: 2rem;
    }
}