<main class="page__main">
  <img class="logo" src="/images/Logo-chef.png" alt="">
  <div class="page__main--text">
    <h1>¿TE GUSTA COCINAR?</h1>
    <h3>Rellena nuestro formulario y apúntate a nuestro casting</h3>
  </div>

  <div class="container hover">
    <div class="mockups">
      <img src="/images/001-cocinando.png" alt="">
      <h3>Propón</h3>
    </div>
     
    <div class="mockups">
      <img src="/images/002-maceta.png" alt="">
      <h3>Rellena</h3>
    </div> 

    <div class="mockups">
      <img src="/images/003-bandeja.png" alt="">
      <h3>Comparte</h3>
    </div> 
  
  </div>
  <a class="landing-button button-style" href="https://www.ejemplo.com">
    ¡APÚNTATE!
  </a>

    
</main>
